.container {
    max-width: 1440px;
    margin: 0 auto;
}

.bg-home {
    position: relative;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(to bottom, rgba(6,18,30,0.1), #06121e), url(../../assets/bg.svg) no-repeat 50% 0 /cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.9;
}

.hero {
    color: $white-normal;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 46px;
    }

    p {
        text-align: center;
        margin: 14px 0;
    } 
}

.button-contact {

}